body{
    width: 100%;
    margin: 0px auto;
    padding: 0px 64px 64px 64px; /* top right bottom left */
    background: hsla(0, 100%, 32%, 0.3);
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.container{
    width: 1280px;
    margin: 0px auto;
    background-color: white;
    padding: 0px;
}

#header-image{
    width: 100%;
    margin: 0px;
    height: 500px;
    object-fit: cover;
}

.section{
    padding: 0px 64px; 
    margin-bottom: 11px;
}

table, tr{
    width: 100%;
    border-collapse: collapse;
}
td{
    width: 50%;
}

.image{
    width: 100%;
    object-fit: cover;
    height: 500px;
}